<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProteinTrackerWebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23840/ProteinTrackerWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProteinTrackerWebserviceSoap"
                contract="ProteinTrackerService.ProteinTrackerWebserviceSoap"
                name="ProteinTrackerWebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>